@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        font-family: 'Poppins', 'Courier New', Courier, monospace;
    }

    [x-cloak] {
        display: none !important;
    }
}

@layer components {
    .nav {
        @apply w-full y-centered-flex-col lg:x-end-flex-row gap-5;
    }

    .nav-link {
        @apply font-semibold text-chicago-700 text-xl transition-all hover:text-toledo-600 active:text-toledo-800;
    }
    
    .terminal-btn {
        @apply size-5 rounded-md stroke-chicago-100 stroke-2 transition-all hover:bg-chicago-600 active:bg-chicago-800;
    }
    
    .three-xl-title {
        @apply py-2 text-chicago-700 font-bold text-3xl rounded border-y-4 border-solid border-chicago-700;
    }
    
    .xl-title {
        @apply text-chicago-700 font-bold text-xl;
    }
    
    .terminal-text {
        @apply font-mono text-chicago-100;
    }
    
    .terminal-keyword {
        @apply font-mono text-toledo-400;
    }
    
    .terminal-highlight {
        @apply font-mono font-bold text-toledo-400 transition-all hover:underline hover:underline-offset-2 hover:text-toledo-500 active:text-toledo-600;
    }
    
    .terminal-output {
        @apply font-mono text-chicago-300;
    }
    
    .highlight-text {
        @apply font-semibold text-toledo-600;
    }
    
    .highlight-link {
        @apply font-semibold text-toledo-600 transition-all hover:underline hover:underline-offset-2 hover:text-toledo-700 active:text-toledo-800;
    }
    
    .main-content-section {
        @apply w-full y-centered-flex-col gap-10;
    }
    
    .card {
        @apply w-full bg-gray-nurse-50 rounded-lg shadow-md shadow-blue-smoke-500 grid grid-rows-2 md:grid-rows-none md:grid-cols-3 gap-5 transition-all hover:shadow-blue-smoke-700 hover:shadow-lg;
    }
    
    .card-content {
        @apply px-5 pb-5 md:pl-0 md:py-5 md:pr-5 y-start-flex-col gap-5 md:col-span-2;
    }

    .card-image {
        @apply size-full object-cover border-b-2 md:border-b-0 md:border-r-2 border-solid border-chicago-700 rounded-t-lg md:rounded-t-none md:rounded-l-lg;
    }
    
    .card-description {
        @apply text-chicago-700 text-pretty;
    }
    
    .card-badges {
        @apply w-full flex flex-row flex-wrap justify-start items-center gap-2;
    }

    .badge {
        @apply px-2 py-1 font-mono border-2 border-solid rounded-lg select-none transition-all hover:shadow;
    }
    
    .green-outline-badge {
        @apply badge text-chicago-700 border-green-400 hover:shadow-green-400;
    }
    
    .gray-outline-badge {
        @apply badge text-chicago-400 border-chicago-400 hover:shadow-chicago-400;
    }
    
    .yellow-outline-badge {
        @apply badge text-chicago-700 border-yellow-400 hover:shadow-yellow-400;
    }
    
    .contact-link {
        @apply text-chicago-700 text-lg x-centered-flex-row gap-2;
    }

    .contact-link-text {
        @apply font-medium transition-all group-hover:text-toledo-600 group-active:text-toledo-800
    }
    
    .contact-link-logo {
        @apply size-7 fill-chicago-700 transition-all group-hover:fill-toledo-600 group-active:fill-toledo-800;
    }
    
    .credit-text {
        @apply text-chicago-700 text-sm font-medium;
    }
}

@layer utilities {
    .x-centered-flex-row {
        @apply flex flex-row flex-wrap justify-center items-center;
    }

    .x-end-flex-row {
        @apply flex flex-row justify-end items-center;
    }

    .y-centered-flex-col {
        @apply flex flex-col justify-center items-center;
    }

    .y-start-flex-col {
        @apply flex flex-col justify-center items-start;
    }
}

#name {
    @apply w-full font-mono text-chicago-700 text-nowrap overflow-x-clip text-4xl md:text-6xl lg:text-7xl xl:text-8xl self-start transition-all;
    animation: 
        typing 2s steps(14), 
        cursor-black .5s step-end 3 alternate;
}

#position {
    @apply w-full font-mono text-chicago-700 text-nowrap overflow-x-clip text-2xl md:text-4xl lg:text-5xl xl:text-6xl self-start transition-all;
    animation: 
        hide-text 2s 1,
        typing 2s steps(13) 2s, 
        cursor-black .5s step-end 2s infinite alternate;
}

#terminal-cursor {
    animation: cursor-white .5s step-end infinite alternate;
}

@keyframes cursor-black {
    50% { @apply border-r-8 border-solid border-chicago-700 }
}

@keyframes cursor-white {
    50% { @apply border-r-8 border-solid border-chicago-100 }
}

@keyframes hide-text {
    0%, 100% { @apply text-transparent; }
}

@keyframes typing {
    from { width: 0; }
}