@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: "Poppins", "Courier New", Courier, monospace;
	}

	[x-cloak] {
		display: none !important;
	}
}

@layer components {
	.nav {
		@apply y-centered-flex-col lg:x-end-flex-row w-full gap-5;
	}

	.nav-link {
		@apply text-xl font-semibold text-chicago-700 transition-all hover:text-toledo-600 active:text-toledo-800;
	}

	.terminal-btn {
		@apply size-5 rounded-md stroke-chicago-100 stroke-2 transition-all hover:bg-chicago-600 active:bg-chicago-800;
	}

	.three-xl-title {
		@apply rounded border-y-4 border-solid border-chicago-700 py-2 text-3xl font-bold text-chicago-700;
	}

	.xl-title {
		@apply text-xl font-bold text-chicago-700;
	}

	.terminal-text {
		@apply font-mono text-chicago-100;
	}

	.terminal-keyword {
		@apply font-mono text-toledo-400;
	}

	.terminal-highlight {
		@apply font-mono font-bold text-toledo-400 transition-all hover:text-toledo-500 hover:underline hover:underline-offset-2 active:text-toledo-600;
	}

	.terminal-output {
		@apply font-mono text-chicago-300;
	}

	.highlight-text {
		@apply font-semibold text-toledo-600;
	}

	.highlight-link {
		@apply font-semibold text-toledo-600 transition-all hover:text-toledo-700 hover:underline hover:underline-offset-2 active:text-toledo-800;
	}

	.main-content-section {
		@apply y-centered-flex-col w-full gap-10;
	}

	.card {
		@apply grid w-full grid-rows-2 gap-5 rounded-lg bg-gray-nurse-50 shadow-md shadow-blue-smoke-500 transition-all hover:shadow-lg hover:shadow-blue-smoke-700 md:grid-cols-3 md:grid-rows-none;
	}

	.card-content {
		@apply y-start-flex-col gap-5 px-5 pb-5 md:col-span-2 md:py-5 md:pl-0 md:pr-5;
	}

	.card-image {
		@apply size-full rounded-t-lg border-b-2 border-solid border-chicago-700 object-cover md:rounded-l-lg md:rounded-r-none md:border-b-0 md:border-r-2;
	}

	.card-description {
		@apply text-pretty text-chicago-700;
	}

	.card-badges {
		@apply flex w-full flex-row flex-wrap items-center justify-start gap-2;
	}

	.card-buttons {
		@apply flex w-full flex-row flex-wrap items-center justify-start gap-2;
	}

	.badge {
		@apply select-none rounded-lg border-2 border-solid px-2 py-1 font-mono transition-all hover:shadow;
	}

	.button {
		@apply flex flex-row items-center justify-center gap-1 rounded-lg px-2 py-1 font-bold transition-all;
	}

	.green-outline-badge {
		@apply badge border-green-400 text-chicago-700 hover:shadow-green-400;
	}

	.gray-outline-badge {
		@apply badge border-chicago-400 text-chicago-400 hover:shadow-chicago-400;
	}

	.yellow-outline-badge {
		@apply badge border-yellow-400 text-chicago-700 hover:shadow-yellow-400;
	}

	.link-button {
		@apply button bg-toledo-600 text-chicago-100 hover:bg-toledo-700 active:bg-toledo-800;
	}

	.contact-link {
		@apply x-centered-flex-row gap-2 text-lg text-chicago-700;
	}

	.contact-link-text {
		@apply font-medium transition-all group-hover:text-toledo-600 group-active:text-toledo-800;
	}

	.contact-link-logo {
		@apply size-7 fill-chicago-700 transition-all group-hover:fill-toledo-600 group-active:fill-toledo-800;
	}

	.credit-text {
		@apply text-sm font-medium text-chicago-700;
	}
}

@layer utilities {
	.x-centered-flex-row {
		@apply flex flex-row flex-wrap items-center justify-center;
	}

	.x-end-flex-row {
		@apply flex flex-row items-center justify-end;
	}

	.y-centered-flex-col {
		@apply flex flex-col items-center justify-center;
	}

	.y-start-flex-col {
		@apply flex flex-col items-start justify-center;
	}
}

#name {
	@apply w-full self-start overflow-x-clip text-nowrap font-mono text-4xl text-chicago-700 transition-all md:text-6xl lg:text-7xl xl:text-8xl;
	animation:
		typing 2s steps(14),
		cursor-black 0.5s step-end 3 alternate;
}

#position {
	@apply w-full self-start overflow-x-clip text-nowrap font-mono text-2xl text-chicago-700 transition-all md:text-4xl lg:text-5xl xl:text-6xl;
	animation:
		hide-text 2s 1,
		typing 2s steps(13) 2s,
		cursor-black 0.5s step-end 2s infinite alternate;
}

#terminal-cursor {
	animation: cursor-white 0.5s step-end infinite alternate;
}

@keyframes cursor-black {
	50% {
		@apply border-r-8 border-solid border-chicago-700;
	}
}

@keyframes cursor-white {
	50% {
		@apply border-r-8 border-solid border-chicago-100;
	}
}

@keyframes hide-text {
	0%,
	100% {
		@apply text-transparent;
	}
}

@keyframes typing {
	from {
		width: 0;
	}
}
